openapi: 3.2.0
info:
  title: Accelevents Open Tickets API
  description: The Accelevents Open API is a REST API for the Accelevents event management and ticketing platform, covering in-person, virtual, and hybrid events.
  version: '1.0'
  contact:
    name: Accelevents
    url: https://developer.accelevents.com
servers:
- url: https://api.accelevents.com/rest
  description: Accelevents Open API
security:
- apiKeyAuth: []
tags:
- name: Tickets
  description: Ticket holders and ticket types.
paths:
  /events/{eventUrl}/staff/ticketHolders/{barcodeId}:
    parameters:
    - $ref: '#/components/parameters/EventUrl'
    - name: barcodeId
      in: path
      required: true
      description: The barcode ID of the ticket holder.
      schema:
        type: string
    patch:
      operationId: updateTicketHolderByBarcode
      tags:
      - Tickets
      summary: Update ticket holder attributes by barcode ID
      description: Updates attributes for a ticket holder identified by barcode ID. MODELED path - operation is named in the public reference but the exact route is not confirmed.
      x-endpoint-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The updated ticket holder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketHolder'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /events/{eventUrl}/staff/exchangeTicketType:
    parameters:
    - $ref: '#/components/parameters/EventUrl'
    post:
      operationId: exchangeTicketType
      tags:
      - Tickets
      summary: Exchange ticket type
      description: Swaps the ticket type for an attendee. MODELED path - operation is named in the public reference but the exact route is not confirmed.
      x-endpoint-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                barcodeId:
                  type: string
                newTicketTypeId:
                  type: integer
                  format: int64
      responses:
        '200':
          description: Exchange result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketHolder'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    TicketHolder:
      type: object
      properties:
        barcodeId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        ticketType:
          type: string
      additionalProperties: true
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  parameters:
    EventUrl:
      name: eventUrl
      in: path
      required: true
      description: The unique event URL identifier (for example "demo" from https://www.accelevents.com/events/demo).
      schema:
        type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AUTHENTICATION
      description: Organization API key generated from the account Integrations tab (Edit Enterprise -> Integrations -> API Key), passed in a request header. The header name is modeled as "AUTHENTICATION" per the getting-started guide; confirm the exact name and format on the API reference before use.
