openapi: 3.0.3
info:
  title: Accelevents Open Attendees API
  description: 'The Accelevents Open API is a REST API for the Accelevents event management and ticketing platform, covering in-person, virtual, and hybrid events. It exposes event details, attendees, ticketing orders and sales, ticket holders, sessions, speakers, and attendee networking. Requests are authenticated with an organization API key generated from the account Integrations tab (Edit Enterprise -> Integrations -> API Key) and passed in a request header. API and webhook access is a paid-plan feature (Business tier and above).


    Confirmed endpoints in this document (paths verified against the public API reference at https://developer.accelevents.com/reference): the event details endpoint, the all-attendees listing endpoint, and the ticketing orders endpoint. All other operations are named in the Accelevents public reference object catalog (Event, Attendees, Ticket Purchase, Ticket Holder, Session, Speaker, Portal People) but their exact request paths are MODELED here and marked with `x-endpoint-modeled: true`. The exact authentication header name is also modeled; the getting-started guide refers to pasting the key into an "AUTHENTICATION" header on the reference pages.'
  version: '1.0'
  contact:
    name: Accelevents
    url: https://developer.accelevents.com
servers:
- url: https://api.accelevents.com/rest
  description: Accelevents Open API
security:
- apiKeyAuth: []
tags:
- name: Attendees
  description: Event attendees and people.
paths:
  /events/{eventUrl}/staff/allAttendees:
    parameters:
    - $ref: '#/components/parameters/EventUrl'
    get:
      operationId: getAllAttendees
      tags:
      - Attendees
      summary: Get all attendees
      description: Lists attendees for an event with pagination and search. Confirmed in the public API reference.
      parameters:
      - name: recurringEventId
        in: query
        schema:
          type: integer
          format: int64
          default: 0
      - name: size
        in: query
        description: Number of records per page.
        schema:
          type: integer
          format: int32
          default: 100
      - name: page
        in: query
        description: Zero-indexed page number.
        schema:
          type: integer
          format: int32
          default: 0
      - name: searchString
        in: query
        description: Filter results by search value.
        schema:
          type: string
      - name: dataType
        in: query
        schema:
          type: string
          enum:
          - TICKET
          - ADDON
          default: TICKET
      - name: isUnique
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A page of attendees.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attendee'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /events/{eventUrl}/staff/people:
    parameters:
    - $ref: '#/components/parameters/EventUrl'
    get:
      operationId: getPeopleList
      tags:
      - Attendees
      summary: Get filtered people list
      description: Fetches attendees filtered by company, job title, and interests. MODELED path - operation is named in the public reference but the exact route is not confirmed.
      x-endpoint-modeled: true
      parameters:
      - name: company
        in: query
        schema:
          type: string
      - name: jobTitle
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: A page of people.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attendee'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    EventUrl:
      name: eventUrl
      in: path
      required: true
      description: The unique event URL identifier (for example "demo" from https://www.accelevents.com/events/demo).
      schema:
        type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Attendee:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        company:
          type: string
        jobTitle:
          type: string
        barcodeId:
          type: string
        ticketType:
          type: string
      additionalProperties: true
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AUTHENTICATION
      description: Organization API key generated from the account Integrations tab (Edit Enterprise -> Integrations -> API Key), passed in a request header. The header name is modeled as "AUTHENTICATION" per the getting-started guide; confirm the exact name and format on the API reference before use.
