openapi: 3.0.3
info:
  title: Accelevents Open Attendees Sessions API
  description: 'The Accelevents Open API is a REST API for the Accelevents event management and ticketing platform, covering in-person, virtual, and hybrid events. It exposes event details, attendees, ticketing orders and sales, ticket holders, sessions, speakers, and attendee networking. Requests are authenticated with an organization API key generated from the account Integrations tab (Edit Enterprise -> Integrations -> API Key) and passed in a request header. API and webhook access is a paid-plan feature (Business tier and above).


    Confirmed endpoints in this document (paths verified against the public API reference at https://developer.accelevents.com/reference): the event details endpoint, the all-attendees listing endpoint, and the ticketing orders endpoint. All other operations are named in the Accelevents public reference object catalog (Event, Attendees, Ticket Purchase, Ticket Holder, Session, Speaker, Portal People) but their exact request paths are MODELED here and marked with `x-endpoint-modeled: true`. The exact authentication header name is also modeled; the getting-started guide refers to pasting the key into an "AUTHENTICATION" header on the reference pages.'
  version: '1.0'
  contact:
    name: Accelevents
    url: https://developer.accelevents.com
servers:
- url: https://api.accelevents.com/rest
  description: Accelevents Open API
security:
- apiKeyAuth: []
tags:
- name: Sessions
  description: Agenda sessions, tracks, and speakers.
paths:
  /events/{eventUrl}/staff/sessions:
    parameters:
    - $ref: '#/components/parameters/EventUrl'
    get:
      operationId: getSessionsList
      tags:
      - Sessions
      summary: Get sessions list
      description: Lists an event's sessions (admin view). MODELED path - operation is named in the public reference but the exact route is not confirmed.
      x-endpoint-modeled: true
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: A page of sessions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Session'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /events/{eventUrl}/staff/sessions/{sessionId}:
    parameters:
    - $ref: '#/components/parameters/EventUrl'
    - name: sessionId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    patch:
      operationId: updateSession
      tags:
      - Sessions
      summary: Update session
      description: Updates a session's details and visibility. MODELED path - operation is named in the public reference but the exact route is not confirmed.
      x-endpoint-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Session'
      responses:
        '200':
          description: The updated session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /events/{eventUrl}/staff/speakers:
    parameters:
    - $ref: '#/components/parameters/EventUrl'
    get:
      operationId: getSpeakersList
      tags:
      - Sessions
      summary: Get speakers list
      description: Lists speakers for an event with pagination. MODELED path - operation is named in the public reference but the exact route is not confirmed.
      x-endpoint-modeled: true
      responses:
        '200':
          description: A page of speakers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Speaker'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createSpeaker
      tags:
      - Sessions
      summary: Create speaker
      description: Adds a speaker to an event. MODELED path - operation is named in the public reference but the exact route is not confirmed.
      x-endpoint-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Speaker'
      responses:
        '200':
          description: The created speaker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Speaker'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    EventUrl:
      name: eventUrl
      in: path
      required: true
      description: The unique event URL identifier (for example "demo" from https://www.accelevents.com/events/demo).
      schema:
        type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Session:
      type: object
      properties:
        sessionId:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        sessionType:
          type: string
          description: Main Stage, Regular, Networking, Lounge, Workshop, or Expo.
        visible:
          type: boolean
      additionalProperties: true
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    Speaker:
      type: object
      properties:
        speakerId:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        company:
          type: string
        jobTitle:
          type: string
        bio:
          type: string
      additionalProperties: true
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AUTHENTICATION
      description: Organization API key generated from the account Integrations tab (Edit Enterprise -> Integrations -> API Key), passed in a request header. The header name is modeled as "AUTHENTICATION" per the getting-started guide; confirm the exact name and format on the API reference before use.
